<nav class="navbar navbar-light bg-light justify-content-between">
  <ul>

    <li>
      <h1 class="logo_header"><a routerLink="/dashboard" title="ir a la Página de inicio" rel="Start">Banco de Chile </a></h1>
    </li>
    <li class="flotar-d node-hamb"><a (click)="toggle()" id="bt" class="hamb"></a> </li>
    <div class="menu-none">

      <li class="flotar-d"><a>link 2</a></li>
      <li class="flotar-d"><a class="active" routerLink="/Detalle">link 1</a></li>
    </div>
  </ul>
  <ng-container *ngIf="show"  class="axis">
  <div class="mobile-show move-up" >
    <nav>
      <ul>
        <li class="flotar-d"><a>link 2</a></li>
        <li class="flotar-d"><a class="active" routerLink="/Detalle">link 1</a></li>
      </ul>
    </nav>
  </div>
  </ng-container>
</nav>

