<div class="container-fluid">
  <h3>{{title}} - link 1</h3>
  <div class="container">
    <!--tabs primer apartado vista dashboard-->
    <div class="tabset">
      <!-- Tab 1 -->
      <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
      <label for="tab1">Titulo caja</label>
      <!-- Tab 2 -->
      <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
      <label for="tab2">Titulo caja 2</label>
      <!-- Tab 3 -->
      <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">
      <label for="tab3">Titulo caja 3</label>
      <div class="tab-panels">
        <!-- Tab 1 -->
        <section id="marzen" class="tab-panel">
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <h6>titulo</h6>
              <hr>
              <div>
                <ul>
                  <li>Detalle 01</li>
                  <li>Detalle 02</li>
                  <li>Detalle 03</li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
              <div class="contAcuerdo">
                <ul>
                  <li>En relación al producto <span>"Línea de Sobregiro Pactado"</span></li>
                  <li>En relación al producto <span>"Línea de Sobregiro Pactado"</span></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <!-- Tab 2 -->
        <section id="rauchbier" class="tab-panel">
          <div class="row">
            <div class="col-xs-6 col-md-4">opcion 2</div>
            <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
          </div>
        </section>
        <!-- Tab 3 -->
        <section id="dunkles" class="tab-panel">
          <div class="row">
            <div class="col-xs-6 col-md-4">opcion 3</div>
            <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
          </div>
        </section>
      </div>
    </div>
    <br>
    <!--barra info y seleccion de id de tabla -->
    <div class="alert alert-info">
      <strong>Token Item1</strong> - {{numerotoken}}  <button data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"class="btn btn-chile">Abrir</button>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <!--formulario de ingreso fecha en abrir-->
        <form class="form-inline">
          <label class=" col custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </label>
          <label class=" col custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </label>
          <label class=" col mr-sm-2" for="inlineFormCustomSelect">Preferencia en tabla ID</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            <option selected>Selecciona...</option>
            <option value="1">001</option>
            <option value="2">002</option>
            <option value="3">003</option>
          </select>
        </form>
      </div>
    </div>
    <!--Apartado de tabla + select-->
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">select</th>
        <th scope="col">Fecha</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="fondobco-chile" scope="row">001</th>
        <th scope="row" class="fondobco-chile"><input class="form-check-input" type="checkbox" value=""></th>
        <td>2011-08-19</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="fondobco-chile">002</th>
        <th scope="row" class="fondobco-chile"><input class="form-check-input" type="checkbox" value="" ></th>
        <td>2011-10-07</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row" class="fondobco-chile">003</th>
        <th scope="row"class="fondobco-chile"><input class="form-check-input" type="checkbox" value="" ></th>
        <td colspan="2">2011-10-08</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
    <br>
    <!--paginador de vista-->
    <div class="center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
